html {
    min-height: 100%;
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

#greeting {
    font-size: 2rem;
    color: white;
    margin-top: 4rem;
}

#container {
    text-align: center;
    height: 70vh;
    margin: 0 auto;
    width: 94%;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#timer {
    margin: 10rem auto;
    color: white;
    font-size: 6rem;
    width: 3em;
    border-radius: 4px;
    border: 4px white solid;
    padding: 0;
}
